
 <div class="ngdialog-message" >

 <h3 class="text-muted"> <b> TrustQ Ringa Privacy Policy</b></h3>

 <p> mTrustQ Ltd. is a verification company. Our services provide verification
and interconnections between individuals, businesses and products through
our Ringa mobile app and Web platform (consisting of Brag, QChat, QPay,
Info etc. which are covered by this Privacy Policy) allowing anyone to
enjoy quality access to communication, information, and payments, within
a localized and discreet environment, free from technology addiction and
intrusion.</p>

<p>
    
    Your use of these services creates the sharing of certain data with us and
those with whom you interact via our platforms. WE DO NOT SHARE
YOUR DATA WITH ANYONE.But we cannot protect you from government intrusions. Or invasion of
privacy by illegal third parties. We STRONGLY URGE WISDOM in
sharing any and all information online, here or on any other platform,
regardless of any promises received. We store data as required for our services to function to your satisfaction.
</p>

 

</div>
