<div class="ngdialog-message" align="center">

<h3 class="text-muted"> <b> mTrustQ Ringa Terms &
Conditions of Use</b></h3>

<h2>Karibu sana! </h2>
 <h3>mTrustQ welcomes you to Ringa.</h3>

<p>
	
This document has the terms & conditions ‘Terms’ of our
relationship if you agree to use our Ringa mobile app and web
platforms, including such functions as Brag, QChat, QPay and Info,
etc ‘Services’.
We will notify you whenever we update this document.By using our Services, you agree that these Terms apply to you,
your businesses, and any third parties you engage with.
</p>

<h3 class="text-muted"> <b> 1. Who can use our Services</b></h3>

<p>
You must be over 12 years old in order to use our Services.
By using them, you confirm that: <br>
• you are fully qualified, without any impediments in law or other
capacity, to enter a binding contract with mTrustQ Limited, and
any third parties you engage with via our Services. <br>
• you will comply with these Terms and all applicable local, state,
national, and international laws, rules, and regulations.</p>

<h3 class="text-muted"> <b>2. What you do with our Services</b></h3>

<p>We allow you to use all our Services, without infringing on any other
users’ rights to do same. We always reserve a right to limit your use
by conditions for payment, or any infringements by you.  </p>

<h3 class="text-muted"> <b>3. Your content is your property</b></h3>

<p>3.1.All materials you create, upload, post, send, receive, and
store via our services, remain your property and responsibility
to the extent that you have any ownership rights in them. <br>
3.2.We will create a Referrals service which will request your
permission to connect you to your friends and customers. At
any event, we do not share your materials with third parties.
We employ broad demographic and locational factors, and do
not follow or snoop on your activities or contacts, to
determine advertisement placements. <br>
3.3.We reserve the right to delete any material of yours stored on
our servers if required under law, or we decide that it is not
compatible with ours or other’s right to enjoy the services
covered in this agreement.</p>

<p>4. Materials produced by others
Such materials are the property and responsibility of its authors.5. Privacy  
Please refer to our privacy policy.
6. Respecting ours and other people’s
rights
6.1.Respect and tolerance work best in neutrality. This means
that we are all mutually best protected when cherished values
remain equally accessible to everyone regardless of current
fashion, gender, status or other distinguishing factors. It is
imperative in our shared use of the services, that you do not:
6.1.1.derogate or interfere with anyone else’s rights of
publicity, privacy, copyright, trademark, or other intellectual-
property right;
6.1.2.bully, harass, or intimidate any other users or persons
connected to them;
6.1.3.defame or libel other users or persons connected to
them;
6.1.4.spam or solicit other users.
7. Safety
A safe environment for all users is always a collective effort by all,
and best achieved in an environment that is neutral of bias and
ideology. Therefore:
•
•
•
•
You will not use our Services for any illegal or prohibited
purposes. And you expressly agree that we may at any time,
and without recourse or any explanation to you, delete your
materials or restrict partially or completely your use of our
services.
You will not use any automated means or interface to access
the Services or extract other users’ information.
You will not use or develop any third-party applications to
communicate with our services or content or materials of other
users without our express and prior written consent.
You will not use the Services in a way that could interfere with,
disrupt, affect negatively, or inhibit other users from fully•
•
•
•
•
•
•
•
enjoying the Services, or that could damage, disable,
overburden, or impair the functioning of the Services.
You will not access or attempt to access any other user’s
account, username, or password without their express
permission.
You will not dupe other users in order to obtain their login
details to our services.
You will not engage in the distribution or sharing of any
materials containing pornography, graphic violence, threats,
hate speech, or incitements to violence.
You will not use our services to solicit or execute unlawful acts
of any kind whatsoever, and you will not claim any rights to
privacy when you break any laws.
You will not create or transmit malicious code targeting our
services.
You will not attempt to circumvent any content-filtering
techniques we employ, or attempt to access areas or features
of the Services that you are not authorised to access.
You will not probe, scan, or test the vulnerability of our
Services or any system or network.
You will not encourage or promote any activity that violates
these Terms.
8. Your account
Control of your account, content and activities is always your
responsibility. Therefore, it is important that you deploy strong
passwords on your devices and applications, and keep them
private.
9. Third-party services  
You engage with any third parties or other users via our services
at your own risk. mTrustQ is not party to or responsible for such
dealings.
10.Changes  
We are constantly engaged in reviewing and updating our
services, and you unequivocally accept our absolute right tomake changes to our services and platforms. No liabilities can
arise from any such changes.
11.Indemnity
You agree, to the extent permitted by law, to indemnify, defend
and hold harmless mTrustQ Limited, mTrustQ Kenya Ltd. and
our affiliates, directors, officers, stockholders, employees,
licensors, suppliers, and agents from and against any
complaints, charges, claims, damages, losses, costs, liabilities
and expenses (including attorneys’ fees) due to, arising out of,
or relating in any way to: (a) your access to or use of the
Services; (b) your content; and (c) your breach of these Terms.
12.Disclaimers  
We try to keep the Services up and running and free of
annoyances. But we cannot promise that we will always
succeed.
The Services are provided “as is” and “as available” and to the
extent permitted by law without warranties of any kind, either
express or implied, including, in particular implied warranties,
conditions, or other terms relating to (i) merchantability,
satisfactory quality, fitness for a particular purpose, title, quiet
enjoyment, non-infringement, or (ii) arising from a course of
dealing. In addition, while mTrustQ attempts to provide a good
user experience, we do not represent or warrant that: (a) the
Services will always be secure, error-free or timely; (b) the
Services will always function without delays, disruption or
imperfections; or (c) that any content or information you obtain
through the Services will be timely or accurate.  
IF THE LAW OF THE COUNTRY WHERE YOU LIVE DOES NOT
ALLOW THE EXCLUSIONS OF LIABILITY PROVIDED FOR IN
THIS CLAUSE, THOSE EXCLUSIONS SHALL NOT APPLY.  
mTrustQ Limited, mTrustQ Kenya Ltd., and their affiliates take
no responsibility and assume no liability for any content that
you, another user, or a third party creates, uploads, posts,
sends, receives, or stores on or through our Services. You
understand and agree that you may be exposed to content that
might be offensive, illegal, misleading, or otherwiseinappropriate, none of which mTrustQ Limited, mTrustQ Kenya
Ltd., nor their affiliates will be responsible for.
Nothing in these Terms will exclude or limit any responsibility
we may have to remove content if so required by the law of the
country where you live.
13.Limitation of liability
mTrustQ Limited, mTrustQ Kenya Ltd. and our affiliates,
directors, officers, stockholders, employees, licensors,
suppliers, and agents will not be liable for any indirect,
incidental, special, consequential, punitive, or multiple
damages, or any loss of profits or revenues, whether
incurred directly or indirectly, or any loss of data, use,
goodwill or other intangible losses, resulting from: (a) your
use of the Services or inability to use the Services; (b) your
access to or inability to access the Services; (c) the
conduct or content of other users or third parties on or
through the Services; or (d) unauthorised access, use or
alteration of your content. In no event will mTrustQ Limited,
mTrustQ Kenya Ltd. or their affiliates’ aggregate liability for
all claims relating to the Services exceed the greater of
KSh10,000 or the amount you paid mTrustQ Limited,
mTrustQ Kenya Ltd. in the last 12 months for any paid
Services.  
IF THE LAW OF THE COUNTRY WHERE YOU LIVE DOES
NOT ALLOW ANY LIMITATION OF LIABILITY PROVIDED
FOR IN THIS CLAUSE, THAT LIMITATION WILL NOT APPLY.
14.Dispute resolution, arbitration
We are very keen to resolve disagreements and also address
any issues of concern to you quickly and amicably. Kindly
contact us via email (info@mtrustq.com) or via Brag.
If you are using the Services on behalf of a business (rather
than for your personal use), you and mTrustQ Limited,
mTrustQ Kenya Ltd. agree that to the extent permitted by
law, all claims and disputes between us arising out of or
relating to these Terms or the use of the Services will be
finally settled under the LCIA Arbitration Rules, which are
incorporated by reference into this clause. There will beone arbitrator (to be appointed by the LCIA), the arbitration
will take place in London, and the arbitration will be
conducted in English. If you do not wish to agree to this
clause, you must not use the Services.
15.Exclusivity of jurisdiction  
You agree with mTrustQ that any litigation, in the event that we
are unable to amicably resolve differences, shall be exclusively
in the courts of England in the United Kingdom, unless this is
prohibited by the laws of the country where you reside. You and
mTrustQ consent to the exclusive jurisdiction of the English
courts.
16.Choice of law  
The laws of England and Wales govern these Terms and any
claims and disputes (whether contractual or otherwise) arising
out of or relating to these Terms or their subject matter. The
courts in some countries may not apply the laws of England and
Wales to some disputes related to these Terms. If you reside in
one of those countries, the laws of your home country may
apply to those disputes.
17.Severability
If any provision of these Terms is found unenforceable, then that
provision will be severed from these Terms and not affect the
validity and enforceability of any remaining provisions.
18.Additional terms for specific Services
Given the breadth of our Services, we sometimes need to craft
additional terms and conditions for specific Services. Those
additional terms and conditions, which will be presented to you
before or soon after you access the relevant Services, then
become part of your agreement with us when you accept them.
If any part of those additional terms and conditions conflicts with
these Terms, the additional terms and conditions will prevail.
19.Final terms•
•
•
•
•
These Terms make up the entire agreement between you and
mTrustQ Limited and supersede any prior agreements.
These Terms do not create or confer any third-party
beneficiary rights.
If we do not enforce a provision in these Terms, it will not be
considered a waiver.
We reserve all rights not expressly granted to you.
You may not transfer any of your rights or obligations under
these Terms without our consent.  
• Contact us
Email: Info@mtrustq.com
Website: mTrustQ.com</p>

</div>